<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/script/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/script/movieApi.js}"></script>
    <script type="text/javascript" th:src="@{/script/movie.js}"></script>
</head>
<body>
<div class="container">
    <form action="">
        <input type="text" id="targetDt" placeholder="조회일자(YYYYMMDD 형태로 입력)" value="20190515"/>
        <input type="number" id="itemPerPage" placeholder="확인할 영화 수" maxlength="2"/>
        <select name="" id="multiMovieYn">
            <option value="">전체</option>
            <option value="Y">다양성영화</option>
            <option value="N">상업영화</option>
        </select>
        <select name="" id="repNationCd">
            <option value="">전체</option>
            <option value="K">한국영화</option>
            <option value="F">외국영화</option>
        </select>
        <button id="submit" type="button">조회</button>
    </form>
</div>

<div class="container">
    <table id="tbl_boxoffice" class="table">
        <thead>
            <tr>
                <th>순위</th>
                <th>조회 일자</th>
                <th>영화명</th>
                <th>누적관객수</th>
                <th>당일매출액</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


</body>
</html>