<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/script/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/script/movieApi.js}"></script>
    <script>
        $(document).ready(()=>{
            let param = new Object();

            // 조회일자 유효성 검사
            let vaildateParam = ()=>{
                console.log($('#targetDt').val());
                console.log("trim :: " + $.trim($('#targetDt').val()) );
                if ($.trim($('#targetDt').val()) == "") {
                    return false;
                }
                return true;
            }


            $('#tbl_boxoffice').DataTable({
                language: {
                    emptyTable: "조회된 결과가 없습니다.",
                    processing: "처리중입니다.",
                    loadingRecords: "잠시만 기다려 주세요.",
                    paginate: {
                        first: "첫 페이지",
                        last: "마지막 페이지",
                        next: "다음 페이지",
                        previous: "이전 페이지"
                    }
                },
                ajax: function (data, callback, settings) {
                    if (!vaildateParam()) {
                        alert('조회일자는 필수값입니다.');
                        return false;
                    }

                    let param = {
                        targetDt: $('#targetDt').val()
                    }

                    movieApi.getDailyMovie(param, (response)=>{
                        console.log(response);
                    })


                },


                columns: [
                    {data: "rank"},
                    {data: "showRange", render: function () {
                        return $('#targetDt').val()
                    }},
                    {data: "movieNm"},
                    {data: "audiAcc"},
                    {data: "salesAmt"},
                ],
            });

            // 검색
            //$('#submit').on('click', ()=>{
            //    console.log('test');
            //    $('#tbl_boxoffice').DataTable().ajax();
            //})


        });

    </script>

</head>
<body>
<div class="container">
    <form action="">
        <input type="date" id="targetDt" placeholder="조회일자" />
        <input type="number" id="itemPerPage" placeholder="확인할 영화 수" maxlength="2"/>
        <select name="" id="multiMovieYn">
            <option value="">전체</option>
            <option value="Y">다양성영화</option>
            <option value="N">상업영화</option>
        </select>
        <select name="" id="repNationCd">
            <option value="">전체</option>
            <option value="K">한국영화</option>
            <option value="F">외국영화</option>
        </select>
        <button id="submit">조회</button>
    </form>
</div>

<div class="container">
    <table id="tbl_boxoffice" class="table">
        <thead>
            <tr>
                <th>순위</th>
                <th>조회 일자</th>
                <th>영화명</th>
                <th>누적관객수</th>
                <th>당일매출액</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

</body>
</html>